@use 'styles/palette' as *;

.button {
  color: $white;
  font-size: 20px;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;

  &__text {
    padding: 7px 12px;
    background: transparent;
  }

  &__contained {
    padding: 7px 12px;
    border-radius: 28px;
  }

  &__outlined {
    padding: 7px 12px;
    border: 1px solid $gray;
    border-radius: 28px;
  }
}
