@use 'styles/palette' as *;

@mixin d-flex($direction: null, $justifyContent: null, $alignItems: null) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
}
  
@mixin square($size, $round: false) {
    width: $size;
    height: $size;

    @if $round {
        border-radius: 50%;
    }
}
  
@mixin ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
  
@mixin grid-cols($count: 2, $gap: 0) {
    display: grid;
    grid-template-columns: repeat($count, minmax(0, 1fr));
    gap: $gap;
}
  
@mixin scrollbar($width, $borderRadius) {
    &::-webkit-scrollbar {
      width: $width;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: $yellow;
      border-radius: $borderRadius;
    }
  
    &::-webkit-scrollbar-track {
      background-color: $light-gray;
      border-radius: $borderRadius;
    }
}
