$gray: #3b3b3b;
$event-text-gray: #535353;
$yellow: #deb841;
$black: #000000;
$price-gray: #727272;
$main-gray: #414141;
$light-gray: #8b8b8b;
$white: #ffffff;
$red: #cd463a;

$registration-page-bg: #ffffff;
$registration-page-box-shadow: 12px 12px 27px -5px rgba($black, 0.45);

$input-border: #BFBFBF;
$input-background: #FFFFFF;
$input-helper-text-color: #8B8B8B;
$input-placeholder-text-color: #BFBFBF;
$input-shadow: 0px 10px 42px -17px rgba(0,0,0,0.57);

$button-border: #3B3B3B;
$button-background: #be9d38;
$button-background-hover: #d0ab3c;
$button-box-shadow: 3px 3px 11px -7px rgba(77,77,77,0.5);
