@use "styles/palette" as *;
@use "styles/mixins" as *;

.product {
    margin-top: 136px;

    &__slider {
        @include d-flex(null, space-between, center);
    }

    &__info {
        @include d-flex(null, space-between, center);
    }

    &__arrow {
        background: $yellow;
        padding: 12px 13px 11px 14px;
        cursor: pointer;
        border-radius: 50px;
    }

    &__bucket {
        padding: 8px 34px;
        color: #ffffff;
        border-radius: 50px;
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
        background: $yellow;
    }

    &__name {
        color: $black;
        font-size: 32px;
        font-weight: 600;
        line-height: 40px;
    }

    &__block {
        text-align: right;
        margin-top: 94px;
    }

    &__colors {
        color: #727272;
        line-height: 28px;
        font-size: 20px;
        font-weight: 400;

        &__circle {
            display: flex;
            gap: 8px;
            margin-top: 23px;
        }
    }

    &__similar {
        padding: 8px 32px;
        color: #ffffff;
        border-radius: 50px;
        font-size: 24px;
        line-height: 34px;
        font-weight: 600;
        text-align: center;
        width: 350px;
        background: $yellow;
    }

    &__listen {
        color: $black;
        font-size: 24px;
        font-weight: 400;
        line-height: 36px;
        letter-spacing: 3%;
        margin: 120px 0 50px 0;
    }

    &__price {
        color: #727272;
        font-size: 32px;
        font-weight: 400;
        line-height: 48px;
        margin: 21px 0 19px 0;
    }

    &__btn {
        text-align: right;
        margin: 60px 0;
    }

    &__text {
        margin: 60px 0;
        color: $black;
        font-size: 24px;
        line-height: 36px;
        font-weight: 400;
    }
}
