@use 'styles/mixins' as *;

.auth {
  &__arrow {
    @include d-flex(null, null, center);

    & svg {
      cursor: pointer;
      @include square(32px);
      transition: all 0.2s ease-in-out;

      &:active {
        transform: scale(0.7);
      }
    }
  }

  &__title {
    margin: 0 auto;
    padding-right: 32px;
    font-size: 36px;
    font-weight: 500;
  }
}