@use 'styles/mixins' as *;
@use 'styles/palette' as *;

.input {
  position: relative;

  &__icon {
    position: absolute;
    left: 12px;
    top: 55%;
    transform: translateY(-50%);
    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 35px;
      background-color: #ccc;
      position: absolute;
      right: -10px;  
      top: 45%;
      transform: translateY(-50%);
    }

    & svg {
      @include square(20px);
    }
  }

  &__label {
    @include d-flex;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 12px;

    &--required {
      margin-left: 5px;
    }
  }

  &__helper-text {
    font-size: 14px;
    margin-top: 2px;
    color: $input-helper-text-color;
  }

  & input {
    height: 36px;
    padding: 8px 56px;
    border: 1px solid $input-border;
    border-radius: 7px;

    &:focus {
      outline: none;
      background: $input-background;
      box-shadow: $input-shadow;
    }

    &::placeholder {
      color: $input-placeholder-text-color;
    }
  }
}

.input-with-icon {
  & input {
    padding: 8px 14px 8px 56px;
  }
}

.input-error-message {
  & input {
    border: 1px solid $red;
  }
}

.error-message {
  color: $red;
}