@use 'styles/palette' as *;
@use 'styles/mixins' as *;

.login {
  &__account {
    @include d-flex(null, space-between);
    font-size: 16px;
    color: $gray;
    &--link {
      transition: 0.25s all ease-in-out;
      &:hover {
        color: $yellow;
      }
    }
  }
}